---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import Footer from '../components/sections/Footer.astro';
import FeatureCardComoponent from '../components/UI/FeatureCardComponent.astro';
import Accordion from '../components/UI/Accordion.astro';
import { SliderParallax } from '../components/react/SliderParalax';
import { SliderCoverflow } from '../components/react/SliderCoverflow';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2 class="md:text-5xl text-2xl my-4">
				Choose from our template creation.
			</h2>
			<p class="mb-5">
				We work with the best technology and efficiency in the market.
			</p>
			<SliderCoverflow client:load type="templates"/>
			<!-- <div class="feature-card__grid">

			</div> -->
		</section>
	</Container>
	<Container>
		<section class="feature-card__section">
			<h2 class="md:text-5xl text-2xl my-4">Latest clients.</h2>
			<p class="mb-5">Discover our most recent projects.</p>
			<SliderCoverflow client:load type="projects"/>

		</section>
	</Container>
	<Container>
		<section class="feature-card__section">
			<h2 class="md:text-5xl text-2xl text-center">
				Custom Web Design and Development!
			</h2>
		</section>
	</Container>
	<Container>
		<!-- <section class="feature-card__section" style="width:100vw"> -->
		<!-- <div style="display:flex; justify-content:center">
			<div style="width:80vw; text-align:start" class="ml-4">
				<h3 class="md:text-3xl text-2xl mb-5">What does the monthly fee include?				</h3>
			</div>
		</div>
		<div
			style="display:flex; flex-direction:column; justify-content:center; align-items:start"
		>
			<div style="display:flex;  justify-content:center; align-items:baseline">
				<svg
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					width="10"
					height="10"
					viewBox="0 0 120 120"
				>
					<circle cx="60" cy="60" r="50" fill="RoyalBlue"></circle>
				</svg>
				<p style="margin-left:10px">Hosting</p>
			</div>
			<div>
				<p class="md:ml-5 mb-4  ml-2">
					We host your website to keep it active 24/7. Servers located in the USA.
				</p>
			</div>
		</div>
		<div
			style="display:flex; flex-direction:column; justify-content:center; align-items:start"
		>
			<div style="display:flex;  justify-content:center; align-items:baseline">
				<svg
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					width="10"
					height="10"
					viewBox="0 0 120 120"
				>
					<circle cx="60" cy="60" r="50" fill="RoyalBlue"></circle>
				</svg>
				<p style="margin-left:10px">24-hour Monitoring				</p>
			</div>
			<div>
				<p class="md:ml-5 mb-4  ml-2">
					We monitor the website 24 hours a day to prevent potential downtimes.				</p>
			</div>
		</div>
		<div
			style="display:flex; flex-direction:column; justify-content:center; align-items:start"
		>
			<div style="display:flex;  justify-content:center; align-items:baseline">
				<svg
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					width="10"
					height="10"
					viewBox="0 0 120 120"
				>
					<circle cx="60" cy="60" r="50" fill="RoyalBlue"></circle>
				</svg>
				<p style="margin-left:10px">Maintenance</p>
			</div>
			<div>
				<p class="md:ml-5 mb-4  ml-2">
					We update the site to maintain optimal performance.

				</p>
			</div>
		</div>
		<div
			style="display:flex; flex-direction:column; justify-content:center; align-items:start"
		>
			<div style="display:flex;  justify-content:center; align-items:baseline">
				<svg
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					width="10"
					height="10"
					viewBox="0 0 120 120"
				>
					<circle cx="60" cy="60" r="50" fill="RoyalBlue"></circle>
				</svg>
				<p style="margin-left:10px">Technical Support				</p>
			</div>
			<div>
				<p class="md:ml-5 mb-4  ml-2">
					Should any technical issues arise, Guinti will resolve them.				</p>
			</div>
		</div>
		<div
			style="display:flex; flex-direction:column; justify-content:center; align-items:start"
		>
			<div style="display:flex;  justify-content:center; align-items:baseline">
				<svg
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					width="10"
					height="10"
					viewBox="0 0 120 120"
				>
					<circle cx="60" cy="60" r="50" fill="RoyalBlue"></circle>
				</svg>
				<p style="margin-left:10px">Website Security

				</p>
			</div>
			<div>
				<p class="md:ml-5 mb-4  ml-2">
					Your website will be secured with an SSL certificate.				</p>
			</div>
		</div>
		<p class="mt-10  text-center text-semibold text-4xl mb-5">
			Don't waste any more time, build your online presence right now.


		</p> -->

		<SliderParallax  client:load/>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
../components/react/SliderParalax