---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import Footer from '../components/sections/Footer.astro';
import FeatureCardComoponent from '../components/UI/FeatureCardComponent.astro';
import Accordion from '../components/UI/Accordion.astro';
import { SliderParallax } from '../components/react/SliderParalax';
import { SliderCoverflow } from '../components/react/SliderCoverflow';
import { SliderCube } from '../components/react/SliderCube';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2 class="md:text-5xl text-2xl my-4">
				Choose from our template creation.
			</h2>
			<p class="mb-5">
				We work with the best technology and efficiency in the market.
			</p>
			<SliderCoverflow client:load type="templates" />
			<!-- <div class="feature-card__grid">

			</div> -->
		</section>
	</Container>
	<Container>
		<section class="feature-card__section">
			<h2 class="md:text-5xl text-2xl my-4">Latest clients.</h2>
			<p class="mb-5">Discover our most recent projects.</p>
			<SliderCoverflow client:load type="projects" />
		</section>
	</Container>
	<Container>
		<section class="feature-card__section flex flex-col">
			<h2 class="md:text-5xl text-2xl ">Custom Web Design and Development!</h2>
			<p class=" mt-5 ">
				No sales commission, you only pay monthly adjusted to your budget for
				maintenance and support.
			</p>

			<SliderCube client:load />
			<h2 class=" mt-10  md:text-5xl text-2xl">
				Wait no more to have your website!
			</h2>
			<p class=" mt-5 ">Our service provides:</p>
		</section>
	</Container>
	<Container>
		<SliderParallax client:load />
	</Container>
	<Container>
		<section class="flex  justify-around my-10 flex-wrap">
			<div class="md:w-6/12 w-full">
				<h2 class="font-bold text-4xl mb-5">About us</h2>
				<p class=" text-justify">
					We are a team of passionate entrepreneurs who share a common vision:
					to transform ideas into digital solutions. Our journey begins with a
					creative designer and an innovative web programmer, united by a
					passion for technology and a desire to embark on this entrepreneurial
					adventure.<br />
					<br /> We strive to merge visual aesthetics with technological functionality,
					creating exceptional digital experiences. We believe in the power of collaboration
					and creativity to drive success in an increasingly digital world.
				</p>
			</div>
			<div class="md:w-4/12 rounded-xl w-full mt-5 md:mt-0">
				<img src="/leonesreal.jpeg" alt="" class="w-full rounded-xl" />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
