---
import { Header, Button } from '@littlesticks/odyssey-theme-components';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';
import Footer from '../components/sections/Footer.astro';
import { ButtonGroup } from '../components/react/ButtonGroup.jsx';

export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout {seo}>
	<header slot="header" class="flex justify-between">
		<Logo />

		<!-- <ButtonGroup client:load /> -->
		<div class=" flex">
			<div class="m-1 flex items-center">
				<Button slot="action-item" class="text-xl" href="https://wa.link/luaurh"
					>Contact us
				</Button>
			</div>
		</div>
	</header>
	<div
		class="fixed h-screen w-screen bg-white z-50  top-0 bottom-0 flex items-center justify-center incio "
	>
		<img src="/carga.gif" alt="" />
	</div>
	<div>
		<slot />
	</div>

	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
<script>
	import gsap from 'gsap';
	import { Power1 } from 'gsap';
	gsap && gsap.to('.incio', { opacity: 0, delay: 2 });
	gsap &&
		gsap.to('.incio', { display: 'none', delay: 3, ease: Power1.easeInOut });
</script>
